MongoSettings__ConnectionString=mongodb://mongo:27017
MongoSettings__Database=soat_execucao

JwtSettings__Secret=MinhaChaveDevSuperSecreta1234567890_32digitos_min

RabbitMq__Host=rabbitmq
RabbitMq__VirtualHost=/
RabbitMq__Username=guest
RabbitMq__Password=guest

ASPNETCORE_ENVIRONMENT=Development
